@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,500,700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css');
@import './nullstyle.css';

.wrapper {
	min-height: 100%;
	overflow: hidden;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}
.btn {
	background: rgba(255, 0, 0, 0.1);
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	border: 2px solid #fff;
	border-radius: 2px;
	width: 180px;
	height: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #fff;
	overflow: hidden;
	position: relative;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.btn::before {
	content: '';
	position: absolute;
	top: 0;
	left: -110%;
	width: 100%;
	height: 100%;
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		from(transparent),
		color-stop(#fff),
		to(transparent)
	);
	background: -o-linear-gradient(left, transparent, #fff, transparent);
	background: linear-gradient(90deg, transparent, #fff, transparent);
	-webkit-transform: skewX(-40deg);
	-ms-transform: skewX(-40deg);
	transform: skewX(-40deg);
}
.btn:hover {
	background: rgba(255, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 30px #fff;
	box-shadow: 0 0 30px #fff;
}
.btn:hover::before {
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	left: 110%;
}
.block3__btn {
	margin: 0 auto;
}
.header {
	background: rgba(0, 0, 0, 0.2);
	position: relative;
	text-align: center;
	color: #fff;
	min-height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.header__menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	padding: 0 15px;
}
.header__menu.active .header__logo {
	color: #000;
}
.header__menu.active .menu__icon span,
.header__menu.active .menu__icon::after,
.header__menu.active .menu__icon::before {
	background: #c0301c;
}
.header__btn {
	margin: 80% auto 0;
	-webkit-transform: translateY(-300%);
	-ms-transform: translateY(-300%);
	transform: translateY(-300%);
	opacity: 0;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.header__btn.active {
	opacity: 1;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}
.header__logo {
	font-size: 24px;
	line-height: 36px;
	font-weight: 700;
	color: #fff;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.header__bg img {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	-o-object-fit: cover;
	object-fit: cover;
	z-index: -10;
}
.header__title {
	font-size: 48px;
	line-height: 44px;
	text-transform: uppercase;
	margin-bottom: 30px;
	-webkit-transform: translateY(200%);
	-ms-transform: translateY(200%);
	transform: translateY(200%);
	opacity: 0;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.header__title.active {
	opacity: 1;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}
.header__label {
	font-size: 20px;
	margin-bottom: 50px;
	-webkit-transform: translateY(200%);
	-ms-transform: translateY(200%);
	transform: translateY(200%);
	opacity: 0;
	-webkit-transition: 0.5s 0.3s;
	-o-transition: 0.5s 0.3s;
	transition: 0.5s 0.3s;
}
.header__label.active {
	opacity: 1;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}
.menu__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	line-height: 24px;
	font-weight: 600;
	letter-spacing: 0.025em;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.menu__list a {
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.menu__link {
	color: #fff;
	text-align: center;
	display: inline-block;
	margin-left: 20px;
	padding: 0 5px;
	border-radius: 2px;
	-webkit-transition: 0.3s;
	-webkit-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
	transition: background-color 0.3s;
}
.name {
	text-align: center;
	padding: 99px 15px 70px;
	color: #555;
	line-height: 24px;
	-webkit-transition: 0.5s 0.2s;
	-o-transition: 0.5s 0.2s;
	transition: 0.5s 0.2s;
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	opacity: 0;
}
.name.active {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
}
.name-form {
	color: #fff;
}
.name-form .name__title::after {
	background: #fff;
}
.name-g {
	background: #f8f8f8;
}
.name-n {
	padding-bottom: 0;
}
.name__title {
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 60px;
	font-weight: 700;
	position: relative;
}
.name__title::after {
	background: #555;
	content: '';
	position: absolute;
	width: 50px;
	height: 2px;
	bottom: -30px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.name__label {
	font-size: 16px;
}
.block1 {
	background: rgba(255, 255, 255, 0.9);
	text-align: center;
	line-height: 24px;
	color: #555;
}
.block1__row {
	overflow: hidden;
}
.block1__flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: 100vh;
	padding-bottom: 100px;
}
.block1__column {
	margin-bottom: 35px;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	opacity: 0;
	-webkit-transition: 0.5s 0s;
	-o-transition: 0.5s 0s;
	transition: 0.5s 0s;
}
.block1__column.active {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}
.block1__img {
	margin-bottom: 29px;
}
.block1__img img {
	max-width: 100%;
}
.block1__title {
	text-transform: uppercase;
	margin-bottom: 24px;
}
.block1__text {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}
.block2 {
	background: #f8f8f8;
	line-height: 24px;
	padding-bottom: 30px;
}
.block2__flex {
	min-height: 100vh;
}
.block2__row {
	margin-bottom: 20px;
	overflow: hidden;
}
.block2__text {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 50%;
	flex: 0 1 50%;
	padding: 0 15px;
	color: #555;
	text-align: justify;
	margin-bottom: 20px;
	-webkit-transition: 0.5s 0.3s;
	-o-transition: 0.5s 0.3s;
	transition: 0.5s 0.3s;
}
.block2__text:nth-child(1) {
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
}
.block2__text:nth-child(2) {
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
}
.block2__text.active {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
.block2__slider {
	position: relative;
	text-align: center;
	overflow: hidden;
}
.block2__slide {
	line-height: 24px;
	color: #555;
}
.block2__body {
	position: relative;
	margin-bottom: 17px;
	overflow: hidden;
}
.block2__img {
	overflow: hidden;
	-webkit-transition: 0.7s;
	-o-transition: 0.7s;
	transition: 0.7s;
}
.block2__img img {
	max-width: 100%;
}
.block2__socials {
	position: absolute;
	bottom: 33px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.block2__link {
	margin: 0 5px;
	width: 28px;
	height: 28px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	border-radius: 5px;
}
.block2__name {
	text-transform: uppercase;
	font-weight: 700;
}
.block2__label {
	font-size: 13px;
}
.block2__prev {
	position: absolute;
	left: 0;
	top: 33%;
	cursor: pointer;
	z-index: 2;
}
.block2__next {
	position: absolute;
	right: 0;
	top: 33%;
	cursor: pointer;
	z-index: 2;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.tabs {
	background: rgba(0, 0, 0, 0.5);
	line-height: 24px;
	position: relative;
	z-index: 1;
}
.tabs__flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.tabs__names {
	text-align: center;
	padding-bottom: 70px;
}
.tabs__btn {
	background: 0 0;
	margin: 0 14px;
	color: #fff;
	font-size: 16px;
}
.tabs__btn.active {
	color: #c0301c;
}
.tabs__content {
	background: rgba(192, 47, 28, 0.6);
	border-radius: 5%;
	padding: 10px;
}
.tabs__block {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 -15px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	display: none;
}
.tabs__block.active {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.tabs__body {
	text-align: center;
	position: relative;
	margin: 0 15px 30px;
	padding: 100px 124px;
	overflow: hidden;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.tabs__title {
	font-size: 18px;
	margin-bottom: 16px;
}
.tabs__label {
	font-size: 14px;
}
.tabs__img img {
	-webkit-transition: 0.7s;
	-o-transition: 0.7s;
	transition: 0.7s;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	-o-object-fit: cover;
	object-fit: cover;
	z-index: -1;
}
.block3 {
	position: relative;
	text-align: center;
	padding: 99px 15px;
	color: #fff;
}
.block3__content {
	position: relative;
	z-index: 1;
}
.block3__title {
	margin-bottom: 53px;
	font-size: 30px;
	line-height: 44px;
}
.block3__bg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	object-fit: cover;
}
.block4 {
	background: rgba(255, 255, 255, 0.94);
	line-height: 24px;
	position: relative;
	z-index: 1;
}
.block4__flex {
	min-height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-bottom: 140px;
}
.block4__img {
	position: relative;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}
.block4__img.active {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.block4__img img {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	-o-object-fit: cover;
	object-fit: cover;
}
.block4__body {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 60%;
	flex: 0 1 60%;
}
.block4__mini-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.block4__data {
	width: 76px;
	height: 76px;
	border: 2px solid #555;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	font-size: 24px;
	line-height: 20px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #777;
	margin-right: 28px;
	margin-bottom: 20px;
}
.block4__data span {
	font-size: 14px;
}
.block4__title {
	font-size: 16px;
	text-transform: uppercase;
	color: #c0301c;
}
.block4__label {
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	font-style: italic;
	color: #777;
}
.block4__text {
	color: #555;
	margin-bottom: 30px;
}
.block4__link {
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #c0301c;
}
.block5 {
	background: #f8f8f8;
	padding: 100px;
	text-align: center;
	color: #555;
}
.block5__companies {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-bottom: 70px;
}
.block5__companies img {
	margin: 5px 30px;
	max-width: 100%;
}
.block5__companies img:first-child {
	margin: -3px 30px;
}
.block5__text {
	font-size: 18px;
	font-style: italic;
	margin-bottom: 30px;
}
.block5__name {
	font-size: 20px;
	font-style: normal;
}
.block6 {
	position: relative;
	z-index: 1;
}
.block6__flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: 100vh;
	padding-bottom: 100px;
}
.block6__body {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 35%;
	flex: 0 1 35%;
	color: #fff;
	padding-bottom: 30px;
}
.block6__name {
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 8px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.block6__name:nth-child(7) {
	margin-top: 35px;
}
.block6__name span {
	margin-right: 15px;
}
.block6__text {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 27px;
	padding-left: 28px;
}
.block6__link {
	font-size: 14px;
	line-height: 20px;
	color: #fff;
	padding-left: 28px;
	display: inline-block;
	width: 100%;
}
.block6__form {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 65%;
	flex: 0 1 65%;
}
.form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.form__input {
	max-width: 350px;
	width: 100%;
	height: 44px;
	border: 1px solid #555;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	padding: 5px 15px;
	font-size: 16px;
	line-height: 16px;
	font-weight: 500;
	color: #555;
	margin-bottom: 21px;
}
.form__input:focus {
	border: 1px solid #c0301c;
}
.form__input::-webkit-input-placeholder {
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: #555;
}
.form__input:-ms-input-placeholder {
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: #555;
}
.form__input::-ms-input-placeholder {
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: #555;
}
.form__input::-moz-placeholder {
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: #555;
	opacity: 0.5;
}
.form__input::placeholder {
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: #555;
	opacity: 0.5;
}
.form__textarea {
	width: 100%;
	height: 104px;
	border: 1px solid #555;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	padding: 5px 15px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	color: #555;
	margin-bottom: 21px;
	resize: none;
}
.form__textarea:focus {
	border: 1px solid #c0301c;
}
.form__textarea::-webkit-input-placeholder {
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: #555;
}
.form__textarea:-ms-input-placeholder {
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: #555;
}
.form__textarea::-ms-input-placeholder {
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: #555;
}
.form__textarea::-moz-placeholder {
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: #555;
	opacity: 0.5;
}
.form__textarea::placeholder {
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: #555;
	opacity: 0.5;
}
.form__btn {
	background: rgba(51, 51, 51, 0.7);
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #fff;
	width: 170px;
	height: 44px;
	border: 1px solid #555;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.form__text {
	line-height: 20px;
	padding-top: 12px;
	color: #fff;
}
.form__text span {
	color: #c0301c;
}
.footer {
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
	padding: 30px 15px;
}
.footer__socials {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-bottom: 61px;
	position: relative;
}
.footer__socials::after {
	background: #fff;
	content: '';
	position: absolute;
	width: 50px;
	height: 2px;
	bottom: 29px;
}
.footer__link {
	margin: 0 7px;
}
.footer__copy {
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: #fff;
}
.footer__svg {
	width: 35px;
	height: 35px;
	fill: #fff;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.footer__svg:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.svg-icon {
	height: 25px;
	width: 25px;
	padding: 3px;
	fill: #fff;
}
.svg-arrow {
	background: rgba(0, 0, 0, 0.2);
	height: 38px;
	width: 38px;
	fill: #fff;
	stroke: transparent;
}
.svg-gps {
	width: 22px;
	height: 27px;
	fill: #fff;
}
.svg-mobile {
	width: 22px;
	height: 30px;
	fill: #fff;
}
.svg-message {
	width: 25px;
	height: 21px;
	fill: #fff;
}
@media (min-width: 563px) {
	.block6__row {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
}
@media (min-width: 768px) {
	.block1__row {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin: 0 -22.5px;
	}
	.block1__column:nth-child(2) {
		-webkit-transition: 0.5s 0.3s;
		-o-transition: 0.5s 0.3s;
		transition: 0.5s 0.3s;
	}
	.block1__column:nth-child(3) {
		-webkit-transition: 0.5s 0.6s;
		-o-transition: 0.5s 0.6s;
		transition: 0.5s 0.6s;
	}
	.block1__column {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 33.333%;
		flex: 0 1 33.333%;
		padding: 0 22.5px;
		margin: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		min-height: 100%;
	}
	.block2__row {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin: 0 -15px 71px;
	}
	.block4__row {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.block4__img {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 40%;
		flex: 0 1 40%;
		margin-right: 39px;
	}
}
@media (min-width: 769px) {
	.header__menu.active .menu__link {
		color: #000;
	}
	.header__menu.active .menu__link:hover {
		background-color: #c0301c;
		color: #fff;
	}
	.menu__link:hover {
		background-color: #fff;
		color: #c0301c;
	}
	.block2__body:hover {
		background-color: #555;
	}
	.block2__body:hover .block2__img {
		opacity: 0.5;
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}
	.block2__link:hover {
		background-color: #c0301c;
	}
	.tabs__content {
		opacity: 0;
		background-color: transparent;
	}
	.tabs__body {
		color: #fff;
	}
	.tabs__body:hover {
		background-color: rgba(192, 47, 28, 0.7);
	}
	.tabs__body:hover .tabs__content {
		opacity: 1;
	}
	.tabs__body:hover .tabs__img img {
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}
	.form__btn:hover {
		background-color: rgba(192, 48, 28, 0.7);
		color: #fff;
	}
	.svg-arrow:hover {
		background-color: #c0301c;
	}
}
@media (max-width: 1170px) {
	.header__title {
		line-height: calc(32px + 12 * (100vw - 320px) / 850);
		font-size: calc(34px + 14 * (100vw - 320px) / 850);
	}
	.block1__flex {
		padding-bottom: calc(35px + 65 * (100vw - 320px) / 850);
	}
	.block5 {
		padding: calc(30px + 70 * (100vw - 320px) / 850);
	}
	.block5__companies {
		padding-bottom: calc(20px + 50 * (100vw - 320px) / 850);
	}
	.block6__flex {
		padding-bottom: calc(30px + 70 * (100vw - 320px) / 850);
	}
}
@media (max-width: 930px) {
	.block5__companies {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}
@media (max-width: 768px) {
	.tabs__content {
		background-color: transparent;
		font-weight: 500;
		color: #c0301c;
	}
}
@media (max-width: 767px) {
	.menu__link {
		min-width: 70px;
		margin-left: 0;
	}
	.name {
		padding: 79px 15px 20px;
	}
	.menu__icon {
		z-index: 5;
		display: block;
		position: fixed;
		width: 30px;
		height: 18px;
		top: 9px;
		right: 15px;
	}
	.menu__icon span,
	.menu__icon::after,
	.menu__icon::before {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		background-color: #fff;
	}
	.menu__icon::after,
	.menu__icon::before {
		content: '';
	}
	.menu__icon::before {
		top: 0;
	}
	.menu__icon::after {
		bottom: 0;
	}
	.menu__icon span {
		top: 50%;
		-webkit-transform: scale(1) translateY(-50%);
		-ms-transform: scale(1) translateY(-50%);
		transform: scale(1) translateY(-50%);
	}
	.menu__icon.active span {
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
	}
	.menu__icon.active::before {
		top: 50%;
		-webkit-transform: rotate(-45deg) translateY(-50%);
		-ms-transform: rotate(-45deg) translateY(-50%);
		transform: rotate(-45deg) translateY(-50%);
		background-color: #c0301c;
	}
	.menu__icon.active::after {
		bottom: 50%;
		-webkit-transform: rotate(45deg) translateY(50%);
		-ms-transform: rotate(45deg) translateY(50%);
		transform: rotate(45deg) translateY(50%);
		background-color: #c0301c;
	}
	.menu__list {
		position: fixed;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		padding: 50px 30px 30px 30px;
		-webkit-transition: right 0.3s ease 0s;
		-o-transition: right 0.3s ease 0s;
		transition: right 0.3s ease 0s;
		overflow: auto;
		display: block;
		text-align: left;
		z-index: 4;
		font-size: 40px;
		line-height: 40px;
	}
	.menu__list.active {
		right: 0;
	}
	.menu__link {
		margin: 0;
		padding: 10px 0;
		display: block;
	}
	.block3 {
		padding: 30px 15px;
	}
	.block4__flex {
		padding-bottom: 0;
	}
	.block4__img {
		padding-bottom: 30%;
		margin-bottom: 25px;
	}
}
@media (max-width: 767px) and (max-width: 767px) {
	.menu__list {
		line-height: calc(30px + 10 * (100vw - 320px) / 447);
		font-size: calc(30px + 10 * (100vw - 320px) / 447);
	}
}
@media (max-width: 425px) {
	.tabs__contents {
		margin: 0 -15px;
	}
}
@media (max-width: 374px) {
	.tabs__body {
		padding: 100px;
	}
}
